<html data-ng-app="sawyou">
<head>
    <title>Saw You App</title>
    <!--CSS-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!--CSS-->

    <!--SCRIPTS-->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    @*<script src="~/Scripts/server.js"></script>*@
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/App/Application.js"></script>
    <script src="~/App/Services/FoursquareService.js"></script>
    <script src="~/App/Features/Module.js"></script>
    <script src="~/App/Features/Search.js"></script>
    <!--SCRIPTS-->
</head>
<body>
    <h1>HELLO FROM INDEX</h1>
    <div data-ui-view=""></div>
</body>
</html>

